{% extends 'base.html.twig' %}
{% import "/macro/blog.html.twig" as blog_macro %}
{% block title %}FATİH MEHMET{% endblock %}
{% block body %}
    <div class="col-md-8">
        <h1 class="my-4">{{ category.name }} <br>
{#            <small>En son eklenenler</small>#}
        </h1>
        {% for blog in blogs %}
            {{ blog_macro.item(blog) }}
        {% endfor %}

    </div>
{% endblock %}